._hover{
    transform: scale(1);  
    transition: all .4s;
    word-wrap: break-word;
}
._hover:hover{
 transform: scale(1.1); 

}
.delete_icon{
    position: absolute;
    bottom: 5%;
    right: 5%;
    color: rgb(244, 134, 134);
    transition: all .3s;
}
.delete_icon:hover{
    color: red;
    transform: scale(1.1);
}
._overflow{
    overflow: hidden;
}
/* filter students */
.gender-filter {
    display: flex;
    gap: 10px 5px; /* Space between buttons */
}
.filter-button {
    background: none;
    border: none;
    padding: 8px 15px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    color: #000;
}
.filter-button._active {
    text-decoration: underline; 
    font-weight: bold;
    color: rgb(160, 63, 230); /* Active text color */
    border-radius:10%;
    
}
.filter-button:hover {
    text-decoration: underline;
}