.teachers_social_icons{
    color: gray;
    font-size:20px;
    transition: all .2s;
    text-decoration: none;
}
.teachers_social_icons:hover{
    color: rgb(217, 83, 241);
    transform: scale(1.3);
}
