.Footer_Icon{
    margin: 10px;
    text-decoration: none;
    color: white;
    font-size: larger;
    transition: all .3s;
}
.Footer_Icon:hover{
    color: rgb(215, 210, 210);
}
.Go_up_Icon{
    width: 30px;
    height: 30px;
    color: blueviolet;
    border-radius: 50%;
    position: absolute;
    right: 5%;
    bottom: 40%;
}

